################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroRabbit/MicroRabbit.Application/bin/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Application/obj/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Application/obj/Release/netcoreapp3.0
/MicroRabbit/MicroRabbit.Application/obj
/MicroRabbit/MicroRabbit.Banking.Api/bin/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Banking.Api/obj
/MicroRabbit/MicroRabbit.Banking.Data/bin/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Banking.Data/obj
/MicroRabbit/MicroRabbit.Banking.Domain/bin/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Banking.Domain/obj
/MicroRabbit/MicroRabbit.Domain.Core/bin/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Domain.Core/obj
/MicroRabbit/MicroRabbit.Infra.Bus/bin/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Infra.Bus/obj
/MicroRabbit/MicroRabbit.Infra.IoC/bin/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Infra.IoC/obj
/MicroRabbit/MicroRabbit.Transfer.Api/bin/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Transfer.Api/obj
/MicroRabbit/MicroRabbit.Transfer.Application/bin/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Transfer.Application/obj
/MicroRabbit/MicroRabbit.Transfer.Data/bin/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Transfer.Data/obj/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Transfer.Data/obj/Release/netcoreapp3.0
/MicroRabbit/MicroRabbit.Transfer.Data/obj
/MicroRabbit/MicroRabbit.Transfer.Domain/bin/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Transfer.Domain/obj/Debug/netcoreapp3.0
/MicroRabbit/MicroRabbit.Transfer.Domain/obj/Release/netcoreapp3.0
/MicroRabbit/MicroRabbit.Transfer.Domain/obj
