################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroRabbit/MicroRabbit.Application/bin/Debug/netcoreapp3.0
